<div class="container">
    <h2 class="text text-primary text-center">
        Record Form
    </h2>
    <form>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" ng-model="$ctrl.name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{$ctrl.guardianRelation || 'Select relation'}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li>
                            <a ng-click="$ctrl.setGuardianRelation('S/O')">S/O</a>
                        </li>
                        <li>
                            <a ng-click="$ctrl.setGuardianRelation('D/O')">D/O</a>
                        </li>
                        <li>
                            <a ng-click="$ctrl.setGuardianRelation('W/O')">W/O</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" aria-label="...">
            </div>
        </div>
        
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" ng-model="$ctrl.age" id="age" class="form-control">
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <textarea ng-model="$ctrl.address" id="address" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="number" id="phoneNumber" class="form-control">
        </div>

        <div class="form-group">
            <label for="aadharNumber">Aadhar Number</label>
            <input type="number" ng-model="$ctrl.aadharNumber" id="aadharNumber" class="form-control" placeholder="This field is optional">
        </div>

        <div class="form-group">
            <label for="desc">Item Description</label>
            <textarea ng-model="$ctrl.desc" id="desc" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="itemWeight">Weight</label>
            <input type="number" ng-model="$ctrl.itemWeight" id="itemWeight" class="form-control">
        </div>

        <div class="form-group">
            <label for="principle">Principle Amount</label>
            <input type="number" ng-model="principle" id="principle" class="form-control">
        </div>

        <div class="form-group">
            <label for="roi">Rate of Interest</label>
            <input type="number" ng-model="roi" id="roi" class="form-control" placeholder="This will be auto-populated">
        </div>

        <div class="form-group">
            <label for="billNumber">Bill Number</label>
            <input type="number" ng-model="billNumber" id="billNumber" class="form-control">
        </div>

        <div class="form-group">
            <label for="img">Upload Image</label>
            <input type="file" ng-model="img" id="img" class="form-control">
            <p class="help-block">
                Only .png and .jpg files are allowed
            </p>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" ng-click="$ctrl.submit($event)">
        </div>
    </form>
</div>

<a ui-sref="homepage">Back</a>